ul {
  display: flex;
  flex-direction: row;
  padding-left: 0px;
}
li {
  list-style: none;
}
button {
  border: 0px solid white;
  border-bottom: 2px solid #7b8794;
  padding-bottom: 6px;
  background-color: transparent;
  font-size: larger;
  font-weight: bold;
  color: #7b8794;
  width: 90px;
  cursor: pointer;
}
.tabButton {
  color: #2563eb;
  border-bottom: 2px solid #2563eb;
}
